@keyframes blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
/* 全体 */
::-webkit-scrollbar {
  height: 6px;  /* 横スクロール */
  width: 6px;   /* 縦スクロール */
}

/* バーの背景 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* つまみ */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 999px;
}

/* ホバー時 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #fafafa;
}

@keyframes loadingIconFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadingLayerFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#message_panel{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 10rem;
    background: lightgray;
    z-index: 99;
    opacity: 0.3;
    pointer-events: none;
}

.query_itm{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    overflow: hidden;
}
  
#title{
    padding: 1rem;
    background: #f5f6f8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

#query_layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 4rem;
    transform: translateY(calc(-100% + 4rem));
    transition: transform 0.5s ease;
    z-index: 1;
    
    &.open{
        transform: none;
    }

    #query_panel{
      
        padding: 1rem;
        background: #f5f6f8;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 14rem;
        width: calc(100% - 2rem);
        white-space: nowrap;
        /*  */
      
        #sort_editor {
            transition: background-color 0.5s ease; /* 0.5秒かけて色を変化 */
            height: 1.5rem;
            
            label {
                font-size: 14px;
                color: #666;
            }
            
            select {
                border: none;
                background: #eef1f5;
                padding: 6px 10px;
                border-radius: 8px;
                font-size: 14px;
                transition: opacity 0.5s ease; /* 0.5秒かけて色を変化 */
                color: rgba(0, 0, 0, 0);
                
                &.transparent{
                    display: none;
                    opacity: 0;
                }
                
                &.activate{
                    color: black;
                }
            }
            
            select#key_select{
              margin-left: auto;
            }
            select#order_select{
              margin-left: 1rem;
            }
          
            &.wait{
                background: lightgray;
            }
            
            &.loading{
              
              background: lightgray;
                
              &:after{
                content: "loading...";
                animation: blinking 1s ease-in-out infinite alternate;
              }
            }
        }
      
        #text_panel {
            transition: background-color 0.5s ease; /* 0.5秒かけて色を変化 */
            
            input {
                border: none;
                outline: none;
                flex: 1;
                font-size: 16px;
                margin-left: 8px;
                background: transparent;
                transition: opacity 0.5s ease; /* 0.5秒かけて色を変化 */
                
                &.transparent{
                    display: none;
                    opacity: 0;
                }
            }
          
            &.wait{
                background: lightgray;
            }
            
            &.loading{
              
              background: lightgray;
                
              &:after{
                content: "loading...";
                animation: blinking 1s ease-in-out infinite alternate;
              }
            }
        }
      
        #tag_panel {
            transition: background-color 0.5s ease; /* 0.5秒かけて色を変化 */
            position: relative;
            overflow: visible;
            
            input {
                border: none;
                outline: none;
                flex: 1;
                font-size: 16px;
                margin-left: 8px;
                background: transparent;
                transition: opacity 0.5s ease; /* 0.5秒かけて色を変化 */
                
                &.transparent{
                    display: none;
                    opacity: 0;
                }
            }
          
            &.wait{
                background: lightgray;
            }
            
            &.loading{
              
              background: lightgray;
                
              &:after{
                content: "loading...";
                animation: blinking 1s ease-in-out infinite alternate;
              }
            }
            
            ul{
                visibility: hidden;
                margin: 0;
                padding: 0 0.5rem;
                list-style-type: none;
                position: absolute;
                top: 100%;
                z-index: 5;
                border: 1px black solid;
                border: black;
                width: calc(100% - 6rem);
                left: 3rem;
                border-radius: 1rem;
                background-color: white;
                
                li{
                  padding: 2px;
                }
            }
            
            &:hover ul{
                visibility: visible;
            }
        }
        
        #text_result{
            
            #tab_area{
              display: inline-block;
              overflow-x: scroll;
              height: 100%;
            }
        }
        
        .token_result{
            align-items: center;
            gap: 6px;

            padding: 4px 12px;
            border-radius: 999px;

            background: #e5e7eb;
            color: #333;

            border: none;
            cursor: pointer;

            transition: all 0.15s ease;
            
            background: #2563eb;
            color: white;

            box-shadow: 0 2px 6px rgba(37, 99, 235, 0.3);
            margin: 0 0.5rem;
            vertical-align: sub;
        }
        
        .token_result.disable {
            background: gray;
            color: white;

            box-shadow: 0 2px 6px rgba(37, 99, 235, 0.3);
        }
    }
    
        
    #query_panel_opener{
        height: 45px;
        width: 60px;
        background: lightgray;
        opacity: 0.5;
        
        &::before{
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-left: 2px solid #333;
            border-top: 2px solid #333;
            transform: translate(20px, 10px) scale(2, 1) rotate(45deg);
        }
        &::after{
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-right: 2px solid #333;
            border-bottom: 2px solid #333;
            transform: translate(20px, 5px) scale(2, 1) rotate(45deg)
        }
    }
}

/* グリッド */
#booklet-origin {
    min-height: calc(165px * 5);
    margin-top: 5rem;
    transition: margin 0.5s ease;
    display: grid;
    width: calc(100% - 20px);
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 0 5px;
    padding: 0px 10px;
    /* border: 2px solid #333; */
    justify-content: space-around;
    background:
      url(./../img/booklet-left.jpeg) left top / 20px 165px repeat-y,
      url(./../img/booklet-right.jpeg) right top / 20px 165px repeat-y,
      url(./../img/booklet-center.jpeg) top / 100% 165px repeat-y;
    /* background-image: url(./../img/booklet-left.jpeg), url(./../img/booklet-right.jpeg), url(./../img/booklet-center.jpeg); */
    /* background-repeat: repeat-y, repeat-y, repeat; */
    /* background-position: left top, right top, 25px top; */
    /* background-size: 20px 165px, 20px 165px, calc(100% - 40px) 165px; */
    overflow: hidden;
    
    &.slide_bottom{
        margin-top: 20rem;
    }

    /* 1冊 */
    .book-card {
        height: 132px;
        margin-top: 20px;
        margin-bottom: 13px;
        cursor: pointer;
        
        .loading{
            height: 100%;
            background: linear-gradient(270deg, #666, #999);
            background-size: 200% 200%;
            animation: Grad 5s ease infinite;
        }
        
        .cover {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 2px;
            object-fit: contain;
            object-position: bottom center;
        }
    }

}


#booklet-layer {
    z-indez: 1;
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    transition: margin 0.5s ease;
    overflow-y: scroll;
    position: relative;
    
    &.slide_bottom{
        margin-top: 20rem;
    }
    
    #booklet-scroll-supporter{
      width: 100%;
    }
    
    #booklet{
      position: absolute;
      top: 0;
      
      display: grid;
      width: calc(100% - 20px);
      grid-template-columns: repeat(auto-fill, 90px);
      gap: 0 5px;
      padding: 0px 10px;
      /* border: 2px solid #333; */
      justify-content: space-around;
      background:
        url(./../img/booklet-left.jpeg) left top / 20px 165px repeat-y,
        url(./../img/booklet-right.jpeg) right top / 20px 165px repeat-y,
        url(./../img/booklet-center.jpeg) top / 100% 165px repeat-y;
    }
    
    &.slide_bottom{
        margin-top: 20rem;
    }

    /* 1冊 */
    .book-card {
        height: 132px;
        margin-top: 20px;
        margin-bottom: 13px;
        cursor: pointer;
        
        .loading{
            height: 100%;
            background: linear-gradient(270deg, #666, #999);
            background-size: 200% 200%;
            animation: Grad 5s ease infinite;
        }
        
        .cover {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 2px;
            object-fit: contain;
            object-position: bottom center;
        }
    }

}

@keyframes Grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#detail_panel_layer{
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width:100vw;
    height: 100vh;
    background-color: rgb(50 50 50 / 0.5);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    z-index: 1;
    
    &.open{
        /* display: block; */
       opacity: 1;
       visibility: visible;
       
       #detail_panel{
          margin-top: 10vh;
       }
    }
    
    #detail_panel{
        margin: 8vh auto;
        width: 75vw;
        max-width: 1500px;
        height: 80%;
        padding: 20px;
        padding-top: 0;
        border-radius: 15px;
        
         --gradient-color: burlywood 46%, maroon 51%, burlywood 56%, maroon 60%, burlywood 62%;
         --header-size: 13px;
         --padding-size: 20px;
         --top-padding-size: 13px;
        background:
          /* 四隅 */
          radial-gradient(circle farthest-side at 100% 100%, var(--gradient-color)) 
          left var(--header-size) / var(--padding-size) var(--padding-size) no-repeat,
          
          radial-gradient(circle farthest-side at 0% 100%, var(--gradient-color)) 
          right var(--header-size) / var(--padding-size) var(--padding-size) no-repeat,
          
          radial-gradient(circle farthest-side at 0% 0%, var(--gradient-color)) 
          right bottom / var(--padding-size) var(--padding-size) no-repeat,
          
          radial-gradient(circle farthest-side at 100% 0%, var(--gradient-color)) 
          left bottom / var(--padding-size) var(--padding-size) no-repeat,
          
          /* 四辺 */
          linear-gradient(0deg, var(--gradient-color)) center var(--header-size) / 
          100% var(--padding-size) no-repeat,
          
          linear-gradient(90deg, var(--gradient-color)) right var(--top-padding-size) / 
          var(--padding-size) calc(100% - var(--top-padding-size)) no-repeat,
          
          linear-gradient(180deg, var(--gradient-color)) bottom / 
          100% var(--padding-size) no-repeat,
          
          linear-gradient(270deg, var(--gradient-color)) left var(--top-padding-size) / 
          var(--padding-size) calc(100% - var(--top-padding-size)) no-repeat,

          /* 中央 */
          burlywood center / 100% 100% no-repeat;
        display: grid;
        grid-template-areas:
            "ctrl_panel ctrl_panel"
            "cover      main_data"
            "long_data  long_data";
        grid-template-columns: minmax(160px, 30%) auto;
        grid-template-rows:  var(--padding-size) calc(50% - var(--padding-size)) auto;
        gap: 10px;
        transition: margin-top 0.5s ease;
      
        img.book_cover{
            width: 100%;
            height: 100%;
            object-fit: contain;
            grid-area:cover;
        }
        
        #ctrl_panel{
            grid-area:ctrl_panel;
            width: 100%;
            height: 100%;
            text-align: right;
            
            *{
                display: inline-block;
                border-radius: 0.3rem;
                padding: 0 1rem;
                margin-left: 0.5rem;
                height: 16px;
                line-height: 17px;
                cursor: pointer;
            }
            
            .close_btn{
                background-color: red;
            }
            .edit_btn{
                background-color: gray;
            }
        }
        
        #main_data{
            display:inline-block;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            grid-area:main_data;
            text-align: left;
            
            *{
                display: block;
            }
            
            th{
                position: sticky;
                top: 0;
                backdrop-filter: blur(4px); 
            }
        }
        
        #long_data{
            display: block;
            text-align: left;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            white-space: pre-line;
            grid-area:long_data;
            
            *{
                display: block;
            }
            th{
                position: sticky;
                top: 0;
                backdrop-filter: blur(4px); 
            }
        }
    }
}