@keyframes blinking {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: #fafafa;
}


#query_panel{
  
    padding: 1rem;
    background: #f5f6f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 12rem;
    width: calc(100% - 2rem);
    position: fixed;
    top: 0;
    left: 0;
    white-space: nowrap;
  
    > *{
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 8px 12px;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.05);
        overflow: hidden;
    }
  
    #query_loading{
        text-align: center;
        margin: 2rem;
    }
    
  
    #sort_editor {
        transition: background-color 0.5s ease; /* 0.5秒かけて色を変化 */
        height: 1.5rem;
        
        label {
            font-size: 14px;
            color: #666;
        }
        
        select {
            border: none;
            background: #eef1f5;
            padding: 6px 10px;
            border-radius: 8px;
            font-size: 14px;
            transition: opacity 0.5s ease; /* 0.5秒かけて色を変化 */
            color: rgba(0, 0, 0, 0);
            
            &.transparent{
                display: none;
                opacity: 0;
            }
            
            &.activate{
                color: black;
            }
        }
        
        select#key_select{
          margin-left: auto;
        }
        select#order_select{
          margin-left: 1rem;
        }
      
        &.wait{
            background: lightgray;
        }
        
        &.loading{
          
          background: lightgray;
            
          &:after{
            content: "loading...";
            animation: blinking 1s ease-in-out infinite alternate;
          }
        }
    }
  
    #text_panel {
        transition: background-color 0.5s ease; /* 0.5秒かけて色を変化 */
        
        input {
            border: none;
            outline: none;
            flex: 1;
            font-size: 16px;
            margin-left: 8px;
            background: transparent;
            transition: opacity 0.5s ease; /* 0.5秒かけて色を変化 */
            
            &.transparent{
                display: none;
                opacity: 0;
            }
        }
      
        &.wait{
            background: lightgray;
        }
        
        &.loading{
          
          background: lightgray;
            
          &:after{
            content: "loading...";
            animation: blinking 1s ease-in-out infinite alternate;
          }
        }
    }
    
    #text_result{
        overflow-x: scroll;
    }
    
    .token_result{
        align-items: center;
        gap: 6px;

        padding: 6px 12px;
        border-radius: 999px;

        background: #e5e7eb;
        color: #333;

        border: none;
        cursor: pointer;

        transition: all 0.15s ease;
        
        background: #2563eb;
        color: white;

        box-shadow: 0 2px 6px rgba(37, 99, 235, 0.3);
        margin: 0 0.5rem;
    }
    
    .token_result.disable {
        background: gray;
        color: white;

        box-shadow: 0 2px 6px rgba(37, 99, 235, 0.3);
    }
}

/* グリッド */
#booklet {
    margin-top: 14rem;
    display: grid;
    width: calc(100% - 20px);
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 0 5px;
    padding: 0px 10px;
    /* border: 2px solid #333; */
    justify-content: space-around;
    background-image: url(./../img/booklet-left.jpeg), url(./../img/booklet-right.jpeg), url(./../img/booklet-center.jpeg);
    background-repeat: repeat-y, repeat-y, repeat;
    background-position: left top, right top, 25px top;
    background-size: 20px 165px, 20px 165px, calc(100% - 40px) 165px;
    overflow: hidden;

    /* 1冊 */
    .book-card {
        height: 132px;
        margin-top: 20px;
        margin-bottom: 13px;
        cursor: pointer;
        
        .loading{
            margin-bottom: 70%;
        }
        
        .cover {
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 2px;
            object-fit: contain;
            object-position: bottom center;
        }
    }

}

#detail_panel_layer{
    display: none;
    position: fixed;
    top: 0;
    width:100vw;
    height: 100vh;
    background-color: rgb(50 50 50 / 0.5);
    
    &.open{
        display: block;
    }
}
#detail_panel{
    margin: 10vh auto;
    width: 80vw;
    max-width: 1500px;
    height: 80%;
    padding: 10px;
    background: lightgray;
    display: grid;
    grid-template-areas:
        "cover ctrl_panel"
        "cover main_data"
        "long_data long_data";
    grid-template-columns: minmax(160px, 30%) auto;
    grid-template-rows: 1.5rem calc(50% - 1.5rem) auto;
    gap: 10px;
  
    img.book_cover{
        width: 100%;
        height: 100%;
        object-fit: contain;
        grid-area:cover;
    }
    
    #ctrl_panel{
        grid-area:ctrl_panel;
        width: 100%;
        height: 100%;
        text-align: right;
        
        *{
            display: inline-block;
            border-radius: 0.3rem;
            padding: 0 1rem;
            margin-left: 1rem;
            cursor: pointer;
        }
        
        .close_btn{
            background-color: red;
        }
        .edit_btn{
            background-color: gray;
        }
    }
    
    #main_data{
        display:inline-block;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        grid-area:main_data;
        text-align: left;
        
        *{
            display: block;
        }
        
        th{
            position: sticky;
            top: 0;
            background: lightgray;
        }
    }
    
    #long_data{
        display: block;
        text-align: left;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        white-space: pre-line;
        grid-area:long_data;
        
        *{
            display: block;
        }
        th{
            position: sticky;
            top: 0;
            background: lightgray;
        }
    }
}
