<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="./favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="./apple-touch-icon.png">
  <title>蔵書閲覧</title>

  <link rel="preload" as="image" href="./img/app_icon.svg">
  <link rel="stylesheet" href="css/style-loading.css" />
</head>
<body>
  <div id="loadin_layer"></div>
  <div id="app">
    <div 
      id="message_panel"
      style="display:none;"
      :style="{'display':'block'}"
      v-if="params.mode=='admin'"
    >
      <div v-for="log in logs" >{{log}}</div>
    </div>
    <div id="title" @click="query_pane_toggle()">
      <div class="query_itm">
        My Booklet
      </div>
    </div>
    <div id="query_layer" :class="query_layer_class">
      <div id="query_panel" ref="query_panel">
        <div 
          id="sort_editor" 
         class="query_itm"
          :class="sort_editor_class"
          v-if="sortOrders"
        >
          <span>並替: </span>
          <select 
            v-model="sortOrders.key"
            id="key_select"
            :class="sort_editor_select_class"
          >
            <option 
              v-for="item in sortOrders.key_select" 
              :key="item.val" 
              :value="item.val"
            >
              {{ item.label }}
            </option>
          </select>
          <select 
            v-model="sortOrders.order"
            id="order_select"
            :class="sort_editor_select_class"
          >
            <option 
              v-for="item in sortOrders.order_select" 
              :key="item.val" 
              :value="item.val"
            >
              {{ item.label }}
            </option>
          </select>
        </div>
        <div 
          id="text_panel" 
          class="query_itm"
          v-if="!query_panel.is_loading"
          :class="text_panel_class"
        >
          検索: <input 
            type="text" 
            v-model="searchText"
            :class="text_panel_input_class"
            />
        </div>
        <div 
          id="tag_panel" 
          class="query_itm"
          v-if="!query_panel.is_loading"
          :class="tag_panel_class"
        >
          タグ: <input 
            type="text" 
            v-model="tagText"
            :class="tag_panel_input_class"
            />
            <ul>
              <li 
                v-for="matched_tag_isbns in matched_tags_isbns"
                @click="click_tag_list(matched_tag_isbns)"
              >
              {{matched_tag_isbns['tag']}}
              </li>
            </ul>
        </div>
        <div id="text_result" class="query_itm" v-if="!query_panel.is_loading">
          <span
            style="color:rgba(0,0,0,0);"
            :style="{'color':'black'}"
          >
            {{visibleIsbns.length}} / {{sort_match_isbns.length}} 冊表示　
          </span>
          <div id="tab_area">
            <span 
              v-for="token_result in token_results" 
              :class="token_result['class']"
               @click="click_token_result(token_result)"
              style="color:rgba(0,0,0,0)"
              :style="{'color':'black'}"
             >
              {{token_result['text']}}
            </span>
          </div>
        </div>
      </div>
      <div id="query_panel_opener" @click="query_pane_toggle()"></div>
    </div>
    <main id="booklet" :class="booklet_class">
      <div
        v-for="book in books"
        :key="book.isbn"
        class="book-card"
        :data-isbn="book.record.isbn"
        :ref="el => register_observe(el)"
      >
        <img 
          :src="book.record.cover_url" 
          style="display:none;"
          v-if="book.stat == 'loaded'"
          @load="set_book_stat(book.record.isbn)"
        >
        <img 
           v-if="book.stat == 'imgLoaded'"
          class="cover" 
          :src="book.record.cover_url" 
          @click.stop="show_detail(book.record.isbn)"
          style="display:none;" 
          :style="{'display':'block'}"
        />
        <div class="loading" v-if="book.stat != 'imgLoaded'" ></div>
      </div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
      <div v-if="false" class="book-card"><div class="loading"></div></div>
    </main>
    <div 
      id="detail_panel_layer" 
      :class="detail_panel_layer_class" 
      @click.self="show_reset()"
    >
    
      <div 
        id="detail_panel" 
        @wheel.stop @touchmove.stop
      >
        <img class="book_cover" :src="book_detail.cover_url" />
        
        <div id="ctrl_panel">
          <div 
            class="edit_btn" 
            v-if="book_detail.system_type = 'notion' && params['mode'] == 'admin'"
             @click.self="open_notion(book_detail.external_book_id)">
            編集
          </div>
          <div class="close_btn" @click.self="show_reset()">X</div>
        </div>
        <table id="main_data">
          <tbody>
            <tr><th>isbn</th><td>{{book_detail.isbn}}</td></tr>
            <tr><th>書籍名</th><td>{{book_detail.title}}</td></tr>
            <tr><th>所蔵場所</th><td>{{book_detail.booklet}}</td></tr>
            <tr><th>NDC</th><td>{{book_detail.ndc}}</td></tr>
            <tr><th>著者</th><td>{{book_detail.author}}</td></tr>
            <tr><th>出版社</th><td>{{book_detail.publisher}}</td></tr>
            <tr><th>発行日</th><td>{{book_detail.pub_date}}</td></tr>
            <tr><th>シリーズ</th><td>{{book_detail.series}}</td></tr>
            <tr><th>巻数</th><td>{{book_detail.volume}}</td></tr>
            <tr><th>ページ数</th><td>{{book_detail.pages}}</td></tr>
            <tr><th>登録日</th><td>{{book_detail.created_at}}</td></tr>
            <tr><th>最終更新日</th><td>{{book_detail.updated_at}}</td></tr>
          </tbody>
        </table>
        <table id="long_data">
          <tbody>
            <tr><th>目次</th><td>{{book_detail.content}}</td></tr>
            <tr><th>メモ</th><td>{{book_detail.memo}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
   
  </body>
  <link rel="preload" as="image" href="./img/booklet-center.jpeg">
  <link rel="preload" as="image" href="./img/booklet-left.jpeg">
  <link rel="preload" as="image" href="./img/booklet-right.jpeg">
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js" defer></script>
  <script src="js/app.js"defer></script>
</html>